//Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1200px;

// Fonts
$primary-font: "Space Grotesk", sans-serif;

// Colors
$color-black: #151515;
$color-green: #4EE1A0;
$color-darkgrey: #242424;
$color-lightgrey: #D9D9D9;
$color-white: #FFFFFF;

